

.inline-block{
    display: inline;
}

/* margins 
--------------------------- */
.row--calculator {
    margin:10px 5px;
}

#console{
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
    width: 20%;
    margin: 0 auto;
    text-align: right;
    padding-right: 5px;
}
#console-1, #console-2{
    background-color: #000000;
    color: #ffffff;
    padding-right: 5px;
}

#calculator {
    border: 1px solid #000000;
    width: 20%;
    margin: 0 auto;
    background-color: #c0bcbc;
}

/* special padding */
#float{
    padding-right: 17px;
}

#clear{
    padding-right: 11px;
}
#equal{
    padding-right: 11px;
}
#division{
    padding-right: 14px;
}

#multiply{
    padding-right: 15px;
}
#substract{
    padding-left: 16px;
}






/* buttons 
------------------------*/

.btn--gray{
    border: solid 1px black;
    background-color: rgb(53, 52, 52);
    color: #fafafa;
    margin-left: 20px;
    width: 30px;
}

.btn--gray:hover {
    border: solid 1px black;
    background-color: rgb(191, 231, 154);
}

@media screen and (max-width:1040px){
    #console{
        width: 35%;
    }
    
    #calculator {
        width: 35%;
    }
}

@media screen and (max-width:600px){
    #console{
        width: 80%;
    }
    
    #calculator {
        width: 80%;
    }
}